<div class="row">
	<div class="password-reset center-block">
		<h1>RESET PASSWORD</h1>

		{{#if password-changed}}

		<p>Your password has been updated!</p>

		{{else}}

		{{#if password-change-failed}}

		<p class="has-error">There was an error updating your password. Please try again in a few minutes.</p>

		{{else}}

		{{#if invalid-token}}

		<p class="has-error">This password reset link has expired. Each link may be used only once and expires after four hours.</p>

		<p>To receive a new password request email, please enter the email address associated with your Bubble account.</p>

		<form role="form" action="/password-reset-request" method="post">
			<div class="form-group">
				<input type="email" class="form-control" id="email" name="email" placeholder="Email address">
			</div>
			<button type="submit" class="btn btn-lg center-block">Submit</button>
		</form>

		{{else}}

		<p>We recommend a password with 6 or more characters, containing a combination of uppercase letters, lowercase letters, numbers, and symbols.</p>
		<p>Username: <em>{{username}}</em></p>
		<form role="form" action="/password-reset" method="post">

			<input type="hidden" name="token" id="token" value="{{token}}">

			{{#if password-invalid}}
			<div class="form-group has-error">
				<label class="control-label" for="password">Your password must be at least 6 characters</label>
				<input type="password" class="form-control" id="password" name="password" placeholder="Enter new password">
			</div>
			{{else}}
			<div class="form-group">
				<input type="password" class="form-control" id="password" name="password" placeholder="Enter new password">
			</div>
			{{/if}}

			{{#if passwords-different}}
			<div class="form-group has-error">
				<label class="control-label" for="passwordConfirm">Passwords do not match</label>
				<input type="password" class="form-control" id="passwordConfirm" name="passwordConfirm" placeholder="Confirm new password">
			</div>
			{{else}}
			<div class="form-group">
				<input type="password" class="form-control" id="passwordConfirm" name="passwordConfirm" placeholder="Confirm new password">
			</div>
			{{/if}}

			<button type="submit" class="btn btn-lg center-block">Submit</button>
		</form>

		{{/if}}

		{{/if}}

		{{/if}}

	</div>
</div>